{% extends 'base.html' %}

{% block body %}

  <body>
    <!-- ************************* Page Title Starts Here ************************** -->
    <div class="page-nav no-margin row">
      <div class="container">
        <div class="row">
          <h2>You can support us</h2>
          <!-- <ul> -->
          <!-- <li> <a href="#"><i class="fas fa-home"></i> Home</a></li> -->
          <!-- <li><i class="fas fa-angle-double-right"></i> About Us</li> -->
          <!-- </ul> -->
        </div>
      </div>
    </div>

    <div class="donation-section">
      <div class="donation-box">
          <h2>Bank Transfer</h2>
          <p>Account Holder Name: Aatmvishwas Foundation</p>
          <p>Bank Name: State Bank Of India</p>
          <p>Account Number: 4261-6204-164</p>
          <p>IFSC Code: SBIN0008477</p>
          <p>Reference: Please mention your name and purpose of donation</p>
      </div>

      <div class="donation-box">
          <h2>Online Payment</h2>
          <!-- Add your online payment options here -->
          <p>Coming Soon...</p>
      </div>

      <div class="donation-box">
          <h2>Scan QR Code</h2>
          <img src="static/assets/images/afs_qr_code.jpeg" height="300" alt="QR Code" />
      </div>
  </div>

    <footer id="center_footer">
      <p>Thank you for supporting our cause!</p>
    </footer>

    <script src="script.js"></script>
  </body>
{% endblock %}
