{% extends 'base.html' %}

{% block body %}
  <body>
    <!-- ************************* Page Title Starts Here ************************** -->

    <div class="page-nav no-margin row">
      <div class="container">
        <div class="row">
          <h2>Team Members</h2>
          <!-- <ul> -->
          <!-- <li> -->
          <!-- <a href="#"><i class="fas fa-home"></i> Home</a> -->
          <!-- </li> -->
          <!-- <li> -->
          <!-- <i class="fas fa-angle-double-right"></i> About Us -->
          <!-- </li> -->
          <!-- </ul> -->
        </div>
      </div>
    </div>

    <section class="events">
      <div class="container">
        <div class="event-ro row">
          {% if team_member %}
            {% for team in team_member %}
              <div class="col-md-4 col-sm-6">
                <div class="event-box">
                  <img src="media/{{ team.image }}" alt="" />
                  <h4>{{ team.name }}</h4>
                  <p class="raises">
                    <span>{{ team.position }}</span>
                  </p>
                  <p class="desic">{{ team.biography }}</p>
                </div>
              </div>
            {% endfor %}
          {% else %}
            <div class="col-md-4 col-sm-6">
              <div class="event-box">
                <img src="static/assets/images/events/image_06.jpg" alt="" />
                <h4>Unknown</h4>
                <p class="raises">
                  <span>Co-Founder</span>
                </p>
                <p class="desic">Changemakers like Unknown can really be a game changer for local development. She is committed, humble, learning-oriented, knows what she is up against and still ready to be a doer!</p>
              </div>
            </div>
          {% endif %}
        </div>
      </div>
    </section>
  </body>
{% endblock %}
