{% extends 'base.html' %}

{% block body %}
  <body>
    <!-- ************************* Page Title Starts Here ************************** -->

    <div class="page-nav no-margin row">
      <div class="container">
        <div class="row">
          <h2>Team Members</h2>
          <!-- <ul> -->
          <!-- <li> -->
          <!-- <a href="#"><i class="fas fa-home"></i> Home</a> -->
          <!-- </li> -->
          <!-- <li> -->
          <!-- <i class="fas fa-angle-double-right"></i> About Us -->
          <!-- </li> -->
          <!-- </ul> -->
        </div>
      </div>
    </div>

    <section class="events">
      <div class="container">
        <div class="event-ro row">
          <div class="col-md-4 col-sm-6">
            <div class="event-box">
              <img src="static/assets/images/events/image_08.jpg" alt="" />
              <h4>Vijay Kumar Paswan</h4>
              <p class="raises">
                <span>Founder</span>
              </p>
              <p class="desic">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's</p>
            </div>
          </div>
          <div class="col-md-4 col-sm-6">
            <div class="event-box">
              <img src="static/assets/images/events/image_06.jpg" alt="" />
              <h4>Chandni Kumari</h4>
              <p class="raises">
                <span>Co-Founder</span>
              </p>
              <p class="desic">Changemakers like Chandni can really be a game changer for local development. She is committed, humble, learning-oriented, knows what she is up against and still ready to be a doer!</p>
            </div>
          </div>
          <div class="col-md-4 col-sm-6">
            <div class="event-box">
              <img src="static/assets/images/events/image_04.jpg" alt="" />
              <h4>Anuradha</h4>
              <p class="raises">
                <span>Administrative Assistant</span>
              </p>
              <p class="desic">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's</p>
            </div>
          </div>
          <div class="col-md-4 col-sm-6">
            <div class="event-box">
              <img src="static/assets/images/events/image_05.jpg" alt="" />
              <h4>Prakash</h4>
              <p class="raises">
                <span>Research associate</span>
              </p>
              <p class="desic">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's</p>
            </div>
          </div>
          <div class="col-md-4 col-sm-6">
            <div class="event-box">
              <img src="static/assets/images/events/image_06.jpg" alt="" />
              <h4>Annu Bharti</h4>
              <p class="raises">
                <span>Techincal Assistant</span>
              </p>
              <p class="desic">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's</p>
            </div>
          </div>
          <div class="col-md-4 col-sm-6">
            <div class="event-box">
              <img src="static/assets/images/events/image_07.jpg" alt="" />
              <h4>Abodh Kumar</h4>
              <p class="raises">
                <span>Advisor</span>
              </p>
              <p class="desic">A Local leader who is a good Public relations specialist, and grater advisor</p>
            </div>
          </div>
        </div>
      </div>
    </section>
  </body>
{% endblock %}
